
Eclipse/UltimateStocker2020/.classpath
Eclipse/UltimateStocker2020/.settings/org.eclipse.jdt.core.prefs
Eclipse/Projet_Qualite_Log/.classpath
Eclipse/Projet_Qualite_Log/.settings/org.eclipse.jdt.core.prefs
Eclipse/Projet_Qualite_Log/.settings/org.eclipse.m2e.core.prefs
